<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>sID is Awesome!</h1>
		<p><strong>Our team: </strong><p>
			<ul>
				<li>Malith Shan Mahanama</li>
				<li>Pubudu Dodangoda</li>
				<li>Helani Madhurasinghe</li>
				<li>Chethiya Edirisinghe</li>
			</ul>
	</div>
</div>
<footer>©2015 sID</footer>
</body>
</html>
