<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
  <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Friends Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      <a href="/profile" class="btn btn-default btn-sm">Profile</a>
  </div>

  <div class="row">
      <div class="col-sm-6">
          <div class="well">
              <h3><span class="fa"></span>Your Friends</h3>

              <% if (friends) { %>
                <ul class="fa-ul">
                  <% for(var i=0; i < friends.length; i++) { %>
                    <div class="row">
                      <li>
                          <p>
                            <img src="https://graph.facebook.com/v2.3/<%= friends[i].id %>/picture">
                            <strong> <%= friends[i].name %></strong><br>
                          </p>
                      </li>
                    </div>
                  <% } %>
                </ul>
              <% } else { %>

              <% } %>

          </div>
      </div>
  </div>


</div>
</body>
</html>
